<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ASTRA</title>
<link href="/astra2/static/INTERACTIVE.CSS" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/astra2/static/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/astra2/static/interactive.js"></script>


</head>
<div style="margin-left:1220px">
<button type="button" onclick="document.location='{{=URL("logout")}}'">Logout</button>
<body class="page-body">

</div>
 <!--img src="/astra2/static/bookworm.gif" width="640" height="400" style="left: 400px; top: 500px;"> </img> 
<!--  <a class="Play" style="left: 320px; top: 100px;"></a>
<a class="Pause" style="left: 390px; top: 100px;"></a>
<a class="Stop" style="left: 470px; top: 100px;"></a> -->

<a class="media_containers" >
{{xxx=db(db.kids.username==session.username).select().first().rno}}
{{if xxx==None:}}
<img src="/astra2/static/bookworm.gif" width="640" height="400"> </img>
<!--<a class="home" style="left: 67px; top: 15px;"></a>
  <a class="duck" style="right: 126px; top: 207px;"></a>-->
  
<a class="poo" style="right:151px; top: 525px;"></a>
{{else:}}
{{vid=db(db.rooms.rnum==xxx).select().first().flashfile}}
<object type="application/x-shockwave-flash" width="600px" height="300px"
                data="{{=URL('static', vid)}}">
            <param name="quality" value="best" /><param
name="allowfullscreen" value="true" />
            <param name="scale" value="showAll" /><param name="movie"
value="{{=URL('static', vid)}}" />
</object> 
<!--<video width="640" height="400" controls="controls">  
        <source src="{{=URL('static', vid+'.ogv')}}" type="video/ogg">
</video>-->
{{pass}}</a>

<div class="members_containers" style="overflow:auto;"><b>Roommates</b>
{{xxx=db(db.kids.username==session.username).select().first().rno}}
{{if xxx==None:}}

{{else:}}
{{for mate in db(db.kids.rno==xxx).select():}}
{{if mate.username!=session.username:}}
<p>{{=mate.username}}</p>
{{pass}}
{{pass}}
{{pass}}

</div>

<div class="story_containers" style="overflow:auto;"><b>virtual rooms</b></br>

{{for row in db(db.rooms.active==True).select(orderby=db.rooms.rnum):}}
<a class="link" href={{=URL('enter', args=row.rnum)}}><img src="{{=URL('download',args=row.file)}}"></img></a></br>
{{pass}}
</div>



</div>
<!--<button onclick="hide()" class="play">Play</button> 
<button onckick="unhide()" class="play1">Pause</button>-->

</body>

{{=BEAUTIFY(response._vars)}}
</html>
